.profile-container {
    height: 30%;
    margin: 0% 5% 0% 5%;
    padding: 0% 1% 2% 1%;
    align-items: center;
    display: flex;
    float:left;
}

.profile-view {
    align-items: center;
}

.profile-image {
    width: 70%;
    margin: 14% 5% 5% 0;
}

.profile-repository-container {
    align-items: center;
    position: sticky;
    flex-wrap: wrap;
}

.repositories-sumary {
    display: flex;
    margin-top: 0;
}

.repositories-sumary li {
    margin-right: 2%;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    color: #595959;    
}

.profile-title {
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    font-weight: 500;
    color: #1890FF;
}

.profile-input-container {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box; 
    border-radius: 6px;
    margin-top: 1%;
    padding: 2% 1% 2% 2%;
    align-items: center;
}

.profile-input {
    margin: 0.5% 0 0.5% 0;
    width: 97%;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
    display: inline-block;
}