.button-area {
    border-radius: 4px;
    border-style: none;
    width: 100px;
    height: 40px;
    background: #1890FF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-text {
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
}