// This typography is only used here, in home page
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

.home-container {
    margin-top: 117px;
    margin-left: 120px;
}

.home-title {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: bold;
    letter-spacing: 0.02em;
    color: #062847;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.home-subtitle {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-style: normal;
    font-weight: normal;
    width: auto;
    height: 220px;
    margin-bottom: 55px;
    color: #5A6774;
}