.find-profile-container {
    border-radius: 16px;
    background: #E6F7FF;
    margin: 7% 5% 2% 5%;
    padding: 1.5% 1.5% 1.5% 7%;
    align-items: center;
}

.find-user-container {
    margin-bottom: 1%;
}

.find-user-lable {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.find-user-text {
    width: 93.2% ;
    height: 40px;
    margin-top: 1%;
    margin-bottom: 1.5%;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.loader-background {
    height: 70%;
    background: #F5F5F5;
    border-radius: 8px;
    margin: 3% 5% 0% 5%;
    justify-content: center;
    align-items: center;
    display: none;
}