.find-profile-container {
    width: auto;
    height: 270px;
    border-radius: 16px;
    background: #E6F7FF;
    margin: 115px 100px 55px 100px;
    padding-top: 66px;
    padding-left: 94px;
}

.find-user-container {
    margin-bottom: 15px;
}

.find-user-lable {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.find-user-text {
    width: 75%;
    height: 40px;
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    color: #BFBFBF;
}

.loader-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-background {
    width: auto;
    height: 335px;
    background: #F5F5F5;
    border-radius: 8px;
    margin: 0 100px 55px 100px;
    padding: 40px 25px 35px 25px;
    display: none;
}