@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  font-family: 'Roboto';
}

.form-card-base {
  margin: 55px 100px 0 100px;
  width: 1250px;
  height: 270px;
  align-content: center;
  justify-content: center;
  background: #E6F7FF;
  border-radius: 16px;}

.info-card-base {
  margin: 55px 100px 73px 100px;
  width: 1250px;
  height: 390px;
  align-content: center;
  justify-content: center;
  background: #F5F5F5;
  border-radius: 8px;
}